{% include 'adminheader.html' %}


<style>
    .a
    {
        background-color: rgb(40, 35, 35);
        margin-top: 15px;
    }
    .a:hover{
        background-color: #e43c5c;
    }
    th
    {
        text-align: left;
    }
    .tbl
    {
        border-radius: 5px;
        width: 100%;
        border: 1px solid white;
        border-collapse: collapse;
        color: rgb(22, 19, 19);
        background-color: rgb(205, 197, 197);
        padding-top: 10px;
       
    }
    .tr
    {
        border-bottom: 2px solid white;
        line-height: 40px;
        text-align: left;
    }

</style>
<section id="hero">
    <div class="hero-container pt-5" >
        <h3><b>Manage Teacher</b></h3>
<form method="post">
    {% if data['res'] %}
    <table>
        <tr>
            <th>First Name :</th>
            <td><input type="text" name="fname"required class="form-control" value="{{data['res'][0]['fname']}}"></td>
        </tr>
        <tr>
            <th>Last Name :</th>
            <td><input type="text" name="lname"required class="form-control" value="{{data['res'][0]['lname']}}"></td>
        </tr>
        
        <tr>
            <th>Place :</th>
            <td><input type="text" name="place"required class="form-control" value="{{data['res'][0]['place']}}"></td>
        </tr>
        <tr>
            <th>Phone :</th>
            <td><input type="number" name="phone"required class="form-control" value="{{data['res'][0]['phone']}}"></td>
        </tr>
        <tr>
            <th>Email :</th>
            <td><input type="email" name="email"required class="form-control" value="{{data['res'][0]['email']}}"></td>
        </tr>
        <tr>
            <th>Designation :</th>
            <td><input type="text" name="designation"required class="form-control" value="{{data['res'][0]['designation']}}"></td>
        </tr>
        <tr>
            <th>Qualification :</th>
            <td><input type="text" name="qualification"required class="form-control" value="{{data['res'][0]['qualification']}}"></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="submit" name="edit" value="Update" class="a btn-get-started"></td>
        </tr>
    </table>
    {% else %}
    <table>
        <tr>
            <th>First Name :</th>
            <td><input type="text" name="fname" class="form-control" required></td>
        </tr>
        <tr>
            <th>Last Name :</th>
            <td><input type="text" name="lname" class="form-control"required></td>
        </tr>
        <tr>
            <th>User Name :</th>
            <td><input type="text" name="uname" class="form-control"required></td>
        </tr>
        <tr>
            <th>Password :</th>
            <td><input type="password" name="password" class="form-control"required></td>
        </tr>
        <tr>
            <th>Place :</th>
            <td><input type="text" name="place" class="form-control"required></td>
        </tr>
        <tr>
            <th>Phone :</th>
            <td><input type="number" name="phone" class="form-control"required></td>
        </tr>
        <tr>
            <th>Email :</th>
            <td><input type="email" name="email" class="form-control"required></td>
        </tr>
        <tr>
            <th>Designation :</th>
            <td><input type="text" name="designation" class="form-control"required></td>
        </tr>
        <tr>
            <th>Qualification :</th>
            <td><input type="text" name="qualification" class="form-control"required></td>
        </tr>
        <tr>
            <td colspan="2"> <input type="submit" name="submit" value="Click" class="a btn-get-started"></td>
        </tr>
    </table>
    {% endif %}
</form>
</div>
</section><!-- End Hero -->
<br><br>
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h1 style="color:black;">View Teachers</h1>
          <!-- <h3>Learn More <span>About Us</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row content">
          <div class="col-lg-12">
<table class="tbl">
    <tr class="tr">
        <th>Sl</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Place</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Qualification</th>
    </tr>
    {% for row in data['tcr'] %}
    <tr class="tr">
        <td>{{loop.index}}</td>
        <td>{{row['fname']}}</td>
        <td>{{row['lname']}}</td>
        <td>{{row['place']}}</td>
        <td>{{row['phone']}}</td>
        <td>{{row['email']}}</td>
        <td>{{row['designation']}}</td>
        <td>{{row['qualification']}}</td>
        <td><a href="?action=update&id={{row['login_id']}}">update</a></td>
        <td><a href="?action=delete&id={{row['login_id']}}">delete</a></td>
        <td><a href="/admin_assign_teacher?id={{row['teacher_id']}}">Assign</a></td>

    </tr>
    {% endfor %}
</table>
</div>
       
</div>

</div>
</section><!-- End About Section -->


</main>



<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='hname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='street']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='city']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
		$("input[name='state']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });



   var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'not matching';
  }
}
</script>
{% include 'footer.html' %}