{% include 'staffheader.html' %}

<style>
    .a
    {
        background-color: rgb(40, 35, 35);
        margin-top: 0px;

    }
    .a:hover{
        background-color: #e43c5c;
    }
    th
    {
        text-align: left;
    }
    .tbl
    {
        border-radius: 5px;
        width: 100%;
        border: 1px solid white;
        border-collapse: collapse;
        color: rgb(22, 19, 19);
        background-color: rgb(205, 197, 197);
        padding-top: 10px;
       
    }
    .tr
    {
        border-bottom: 2px solid white;
        line-height: 40px;
        text-align: left;
    }

</style>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>Student Attendance</strong></h3>
      <!-- <h1>We're Creative Agency</h1>
      <h2>We are team of talented designers making websites with Bootstrap</h2> -->
      <a href="#about" class="btn-get-started scrollto">View Students</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h1 style="color:black;">View Students</h1>
          <!-- <h3>Learn More <span>About Us</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row content">
          <div class="col-lg-12">
        <center>
        
<form method="post">
   
    <!-- <h3><b>View Students</b></h3> -->
    <table class="tbl">
        <tr class="tr">
            <th>Sl.</th>
            <th>Student </th>
            <th>Place</th>
            <th>Phone</th>
            <th>Email</th>
            

        </tr>
        {% for row in data['res'] %}
        <tr class="tr">
            <td>{{loop.index}}</td>
            <td>{{row['fname']}} {{row['lname']}}</td>
            <td>{{row['place']}}</td>
            <td>{{row['phone']}}</td>
            <td>{{row['email']}}</td>

           
            <td><a href="/staff_manage_fee?sid={{row['student_id']}}">FEE</a></td>

          

            <td><a href="/staff_manage_payment?sid={{row['student_id']}}">PAYMENT</a></td>

        </tr>
        {% endfor %}
        
    </table>

</form>
</center>
</div>
       
</div>

</div>
</section><!-- End About Section -->


</main>

{% include 'footer.html' %}