{% include 'staffheader.html' %}

<style>
    .a
    {
        background-color: rgb(40, 35, 35);
        margin-top: 0px;

    }
    .a:hover{
        background-color: #e43c5c;
    }
    th
    {
        text-align: left;
    }
    .tbl
    {
        border-radius: 5px;
        width: 100%;
        border: 1px solid white;
        border-collapse: collapse;
        color: rgb(22, 19, 19);
        background-color: rgb(205, 197, 197);
        padding-top: 10px;
       
    }
    .tr
    {
        border-bottom: 2px solid white;
        line-height: 40px;
        text-align: left;
    }

</style>
<section id="hero">
    <div class="hero-container pt-5" >
        
<form method="post">
{% if data['pay'] %}
    <h3><b>View Payment</b></h3>
    <table class="tbl">
        <tr class="tr">
            <th>Sl.</th>
            <th>Fee </th>
            <th> amount</th>
            <th>Date</th>
            <th>Payment</th>
            <th>Payment Date</th>
            

        </tr>
        {% for row in data['pay'] %}
        <tr class="tr">
            <td>{{loop.index}}</td>
            <td>{{row['fee']}} </td>
            <td>{{row['amount']}}</td>
            <td>{{row['date']}}</td>
            <td>{{row['amt']}}</td>
            <td>{{row['pdate']}}</td>           
        </tr>
        {% endfor %}
        
    </table>
{% else %}

<h2>No payments</h2>
{% endif %}
</form>





</div>
</section>

{% include 'footer.html' %}