{% include 'studentheader.html' %}

<style>
    .tbl
    {
        border-radius: 5px;
        width: 550px;
        border: 1px solid white;
        border-collapse: collapse;
        color: rgb(22, 19, 19);
        background-color: rgb(205, 197, 197);
        padding-top: 10px;
       
    }
    .tr
    {
        border-bottom: 2px solid white;
        line-height: 40px;
        text-align: left;
    }
    
    </style>
    <section id="hero">
        <div class="hero-container" >
            <h3>View question paper</h3>
<table class="tbl">
    <tr class="tr">
        <th>Sl.no</th>
        <th>Topic</th>
        <th>File</th>
    </tr>
    {% for row in data['res'] %}
    <tr class="tr">
        <td>{{loop.index}}</td>
        <td>{{row['question']}}</td>
        <td><a href="{{row['questionpaperfile']}}"Download>Download</a></td>
    </tr>
    {% endfor %}
</table>

{% include 'footer.html' %}